.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 10px;
}

.password-container {
    display: flex;
    align-items: center;
}

.password-container input {
    flex: 1;
}

.password-container button {
    margin-left: 10px;
}

@media (max-height: 600px) {
    .login-container {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 20px;
    }

    .login-form {
        width: 100%;
    }
}
